# Package generated configuration file
# See the sshd_config(5) manpage for details

Port {{ ssh_port }}
#ListenAddress ::
#ListenAddress 0.0.0.0
Protocol 2

# HostKeys for protocol version 2
{% for key_type in ssh_host_key_types %}
HostKey /etc/ssh/ssh_host_{{ key_type }}_key
HostCertificate /etc/ssh/ssh_host_{{ key_type }}_key-cert.pub
{% endfor %}

# Ciphers and MACs
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

# Logging. VERBOSE logs the fingerprint of keys used to login.
SyslogFacility AUTH
LogLevel VERBOSE

# Authentication:
StrictModes yes
AuthorizedKeysFile /etc/ssh/authorized_keys/%u
PermitRootLogin without-password
PermitEmptyPasswords no
PubkeyAuthentication yes
UsePAM yes

# Disable a bunch of features.
IgnoreRhosts yes
HostbasedAuthentication no
ChallengeResponseAuthentication no
PasswordAuthentication no
UseDNS no
#IgnoreUserKnownHosts yes

# Makes ansible faster?
PrintMotd no
PrintLastLog yes

# Keep connections alive.
TCPKeepAlive yes
ClientAliveInterval 120

# Fuck LANG.
#AcceptEnv LANG LC_*

# Be restrictive on forwarding / proxying.
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
#PermitTunnel no
