upstream be_menshen {
  server menshen.{{ domain }}:{{ services['menshen'].public_endpoints[0].port }};
}

server {
  listen [::]:443 ssl http2;

  server_name menshen.{{ domain_public[0] }};
  include /etc/nginx/snippets/site-common.conf;

  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers HIGH:!aNULL:!MD5;
  ssl_prefer_server_ciphers on;
  ssl_session_cache shared:SSL:10m;
  ssl_session_timeout 5m;
  ssl_dhparam /etc/nginx/dhparam;
  ssl_certificate /etc/credentials/sspki/menshen/fullchain.crt;
  ssl_certificate_key /etc/credentials/sspki/menshen/private.key;

  location / {
          include /etc/nginx/snippets/block.conf;
          include /etc/nginx/snippets/proxy.conf;
          proxy_pass http://be_menshen;
          proxy_cache global;
  }
}
